
#ajuste{
    width: 610px;
    height: 430px;
    background-color:  rgb(167, 167, 196);
  /* margin: auto; */
  margin-top: -700px;
  margin-left: 80px;
    
   
  }
  
  
  button {
  
    width: 55px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(23, 9, 214);
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: rgb(52, 22, 185);
  }
  
  #header {
    padding: 10px;
    color: rgb(15, 15, 192) ;
    font-size: 28px;
    
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    margin-top: 230px;
    margin-left: 250px;
  }
  #header button {
    background-color:rgb(160, 157, 156);
  }
  #container {
    width: 700px;
  }
  #weekdays {
    
    margin-left: 246px;
    display: flex;
    color: rgb(8, 1, 1);
    font-size: 12px;
    
  }
  #weekdays div {
    width: 16px;
    padding: 15px;  
  }
  #calendar {
    width: 46%;
    margin-left: 260px;
   
    
    display: flex;
    flex-wrap: wrap;
  }
  .day {
  
    width: 20px;
    padding: 20px;
    height: 20px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgb(149, 153, 151);
    margin: 3px;
    box-shadow: 0px 0px 3px rgb(8, 8, 8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15%;
  }
  .day:hover {
    background-color: rgb(250, 250, 252);
  
  }
  
  .day + #currentDay {
    background-color:rgb(66, 196, 248);
   
  }
  .event {
    font-size: 10px;
    padding: 3px;
    background-color: purple;
    color: rgb(39, 8, 8);
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }
   .padding {
    cursor: default !important;
    background-color:white !important;
    box-shadow: none !important;
  } 
  #newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: peru;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
  }
  #eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }
  #eventTitleInput.error {
    border: 2px solid rgb(30, 145, 64);
  }
  #cancelButton, #deleteButton {
    background-color:rosybrown;
  }
  #saveButton, #closeButton {
    background-color: red;
  }
  #eventText {
    font-size:14px;
  }
  #modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(235, 225, 225, 0.8);
  }
  #backButton{
   
  margin-right: 10px;
  }
   #nextButton{
    margin-right: 90px;
  }
     